@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #26282C;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-input {
  background: url("/public/search-icon.svg") ;
  background-position: 15px 12px; 
  background-repeat: no-repeat;
  background-size: 5.5%;
}

.green-background {
  background: rgba(52, 202, 165, 0.12);
}

.red-background {
  background: rgba(237, 84, 78, 0.12);
}

.slider .MuiSlider-thumb {
  display: none;
}
/* --sets the default color of the slider */
.MuiSlider-rail {
  color: #F5F5F5;
}